<!-- Login page -->
<% if current_user %>
	<meta http-equiv="refresh" content="0; URL='home" />
<% else %>
	<div class="login">
		<h1>Login</h1>
	  <div class="container">
	    <div class="form">
				<%= form_for(:session, url: login_path) do |f| %> 
				<dl>
					<dt>Email</dt>
					<dd><%= f.email_field :email, :placeholder => "", :required => 'required' %></dd>
					<dt>Password</dt>
					<dd><%= f.password_field :password, :placeholder => "", :required => 'required' %></dd>
				</dl>
				<%= f.submit "Log In", class: "btn-submit" %>
			<% end %>
	    </div>
			<p>New to StudentTrades?&nbsp;<%= link_to "Sign up!", 'signup' %></a></p>
			<p><%= link_to 'Forgot Password?', 'reset_password' %></a></p>
	  </div>
	</div>
<% end %>