<!-- Login page -->

<% if current_user %>
	<meta http-equiv="refresh" content="0; URL='home" />
<% else %>
	<div class="login">
	  <div class="container">
	    <div class="form">
			<h1>Login</h1>
				<%= form_for(:session, url: login_path) do |f| %> 
				<%= f.email_field :email, :placeholder => "Email" %> 
				<%= f.password_field :password, :placeholder => "Password" %> 
				<%= f.submit "Log in", class: "btn-submit" %>
			<% end %>
	    </div>
	    <p><%= link_to "Signup", 'signup' %></a></p>
	  </div>
	</div>
<% end %>