<!-- Signup page -->

<div class="signup">
  <h1>Sign up</h1>
  <div class="container">
    <div class="form">
      <%= form_for(@user) do |f| %>
        <dl>
          <dt>First Name</dt>
          <dd><%= f.text_field :first_name, :required => 'required' %></dd>
          <dt>Last Name</dt>
          <dd><%= f.text_field :last_name, :required => 'required' %></dd>
          <dt>Phone Number</dt>
          <dd><%= f.text_field :phone_number, :required => 'required' %></dd> 
          <dt>Email</dt>
          <dd><%= f.email_field :email, :required => 'required' %></dd> 
          <dt>Password</dt>
          <dd><%= f.password_field :password, :required => 'required' %></dd>
        </dl>
        <%= f.submit "Create an account", class: "btn-submit" %> <br/>
      <% end %>
      <p>Have an account?&nbsp;<%= link_to "Login", 'login' %></a></p>
    </div>
  </div>
</div>