<%= stylesheet_link_tag "users.css" %>
<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400" rel="stylesheet">

<div class="grid">

  <div class="left-grid">
    <div class="description">
    <img src="/assets/saLogoWhite.png" width="200px" height="200px" />
    <br /><br />
    <h3>We're glad you're joining us.</h3>
    </div>
  </div>

  <div class="right-grid">
    <div class="signup">
      <div class="form">
      <%= form_for(@user) do |f| %>

      <h2>Signup</h2>
      <h6>Already have an account?&nbsp;<%= link_to "Login", 'login' %></a></h6>
      <br />

      <h4>First Name</h4>
      <h5><%= f.text_field :first_name, :required => 'required' %></h5>

      <h4>Last Name</h4>
      <h5><%= f.text_field :last_name, :required => 'required' %></h5>

      <h4>Phone Number</h4>
      <h5><%= f.text_field :phone_number, :required => 'required' %></h5>

      <h4>Email</h4>
      <h5><%= f.email_field :email, :required => 'required' %></h5>

      <h4>Password</h4>
      <h5><%= f.password_field :password, :required => 'required' %></h5>
      <br /><br />

      <%= f.submit "Create an account", class: "btn btn-dark" %> <br/>
      <br /><br />

      <% end %>
      </div>
    </div>
  </div>
</div>