<!-- Signup page -->
<% if current_user %>
  <meta http-equiv="refresh" content="0; URL='home" />
<% else %>
  <div class="login">
    <div class="container">
      <div class="form">

      <h1>Sign up</h1>
      <%= form_for(@user) do |f| %>
        <dl>
          <dt>First Name</dt>
          <dd><%= f.text_field :first_name, :placeholder => "John" %></dd> <br/>
          <dt>Last Name</dt>
          <dd><%= f.text_field :last_name, :placeholder => "Doe" %></dd> <br/>
          <dt>Phone Number</dt>
          <dd><%= f.text_field :phone_number, :placeholder => "xxx-xxx-xxxx" %></dd> <br/>
          <dt>Email</dt>
          <dd><%= f.email_field :email, :placeholder => "youremail@address.com" %></dd> <br/>
          <dt>Password</dt>
          <dd><%= f.password_field :password, :placeholder => "!ts53Cr3t" %></dd> <br/>
        </dl>
        <%= f.submit "Create an account", class: "btn-submit" %> <br/>
      <% end %>
      <p><%= link_to "Login", 'login' %></a></p>

      </div>
    </div>
  </div>
<% end %>