<%= stylesheet_link_tag "pages.css" %>
<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400" rel="stylesheet">

<div class="grid">
  <div class="left-grid">
    <h3><a href="/" class="home-link"><img src="/assets/saLogoGreen.png" width="50" height="50px" /> StudentsAd</a></h3>
    <br /><br />
    <h2 style="font-weight: bold; color: #154444"><%= @user.first_name %> <%= @user.last_name %></h2>
    <h5><%= @user.phone_number %></h5>
    <h5><%= @user.email %></h5>
    <br />
    <hr align="left" width="50%"/>

    <h5 style="font-weight: bold"><a class="home-link" href="/create_post"><img class="logo" src="/assets/plusGreen.png" /> New</a></h5>
    <h5 style="font-weight: bold"><a class="home-link" href="/create_post"><img class="logo" src="/assets/myPost2.png" /> My posts</a></h5>
    <br /><hr align="left" width="50%"/>

    <h5 style="font-weight: bold"><a class="home-link" rel="nofollow" data-method="delete" href="/logout"><img class="logo" src="/assets/logoutRed.png" /> Log out</a></h5>

  </div>

  <div class="mid-grid">
    <br />
    <h5 style="font-weight: bold"><a href="/">Home</a> / Update</h5>
    <hr />

    <%= form_for(:post, url: update_post_path) do |f| %>
      <h4>Title</h4>
      <h5><input required="required" type="text" value="<%= @post.title %>" name="post[title]" id="post_title" maxlength="100" style="width: 100%"></h5>

      <h4>Description</h4>
      <h5><textarea required="required" name="post[description]" id="post_description" style="width: 100%; height: 250px"><%= @post.description %></textarea></h5>

      <h4>Category</h4>
      <h5><%= f.select(:category_id, options_for_select(
        [
          ['Advice', 1],
          ['Books', 2],
          ['Cars', 3],
          ['Clothes', 4],
          ['Help',5],
          ['Friends', 6],
          ['Mentees/Mentors', 7],
          ['Relationship', 8],
          ['Roommates', 9],
          ['Others', 10],
        ]
      )) %></h5>
      <br />

      <h5><%= f.submit "Update", class: "btn btn-dark" %></h5>

    <% end %>
  </div>

  <div class="right-grid">
  </div>

</div>