<%= stylesheet_link_tag "pages.css" %>
<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400" rel="stylesheet">

<div class="grid">
  <div class="left-grid">
    <h3><a href="/" class="home-link"><img src="/assets/saLogoGreen.png" width="50" height="50px" /> StudentsAd</a></h3>
    <br /><br />
    <h2 style="font-weight: bold; color: #154444"><%= @user.first_name %> <%= @user.last_name %></h2>
    <h5><%= @user.phone_number %></h5>
    <h5><%= @user.email %></h5>
    <br />
    <hr align="left" width="50%"/>
    
    <h5 style="font-weight: bold"><a class="home-link" href="/create_post"><img class="logo" src="/assets/plusGreen.png" /> New</a></h5>
    <h5 style="font-weight: bold"><a class="home-link" href="/create_post"><img class="logo" src="/assets/myPost2.png" /> My posts</a></h5>
    <br /><hr align="left" width="50%"/>

    <h5 style="font-weight: bold"><a class="home-link" rel="nofollow" data-method="delete" href="/logout"><img class="logo" src="/assets/logoutRed.png" /> Log out</a></h5>

  </div>

  <div class="mid-grid">
    <br />
    <h5 style="font-weight: bold">Home</h5>
    <hr />

    <% @posts.each do |p| %>
      <a href="/post/<%= p.id %>"><h3><%= p.title %></h3></a>
      <h5>By: <a href="/posts/user/<%= p.user.id %>"><%= p.user.first_name %> <%= p.user.last_name %></a></h5>
      <h5>Category: <a href='/category/<%= p.category.id %>'><%= p.category.category %></a></h5> 
      <h6><em>Updated: <%= time_ago_in_words(p.updated_at) %> ago</em></h6>
      <hr />
    <% end %>

    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>

  <div class="right-grid">
    <br />
    <h5 style="font-weight: bold">Categories</h5>
    <hr />

    <h5><a href="/category/1">Advice</a></h5>
    <h5><a href="/category/2">Books</a></h5>
    <h5><a href="/category/3">Cars</a></h5>
    <h5><a href="/category/4">Clothes</a></h5>
    <h5><a href="/category/5">Help</a></h5>
    <h5><a href="/category/6">Friends</a></h5>
    <h5><a href="/category/7">Mentees/Mentors</a></h5>
    <h5><a href="/category/8">Relationship</a></h5>
    <h5><a href="/category/9">Roommates</a></h5>
    <h5><a href="/category/10">Others</a></h5>
  </div>

<div>