<!-- Home page: Showing all posts in descending order -->

<h1>Home page</h1>
<hr>

<% @posts.each do |p| %>
	<a href="/post/<%= p.id %>"><H2><%= p.title %></H2></a>
	<p><%= p.category %></p>
	<p><%= time_ago_in_words(p.created_at) %> ago</p>
	<p><%= p.description %></p>
	<hr>
<% end %>