<!-- Create a post page -->

<h1>Create a post</h1>
<hr>

	<div class="post">
		<div class="container">
			<div class="form">
				<%= form_for(:post, url: create_post_path) do |f| %>  
					<dl>
						<dt>Title</dt>
						<dd><%= f.text_field :title, :placeholder => "Example: Selling math books." %> </dd>
						<dt>Description</dt>
						<dd><%= f.text_area :description, :placeholder => "I have a calculus book 4th edition..." %> </dd>
						<dt>Category</dt>
						<dd><%= f.text_field :category, :placeholder => "Books, cars, misc..." %> </dd>
					</dl>
					<%= f.submit "Create", class: "btn-submit" %>
				<% end %>

			</div>
		</div>
	</div>
