<!-- Show specific post page -->
<div class="show-post">
	<div class="container">
		<H2><%= @post.title %></H2>
		<p>Category: <%= @post.category %></p>
		<p>Created: <%= time_ago_in_words(@post.created_at) %> ago</p>
		<p>By: <a href="/posts/user/<%= @post.user.id %>"><%= @post.user.first_name.capitalize %> <%= @post.user.last_name.capitalize %></p></a>

		<!-- Only the owner of the post can edit and delete the post -->
		<% if @post.user.id == @current_user.id %>
			<%= link_to "Edit Post", edit_post_path(@post) %> &emsp;
			<%= link_to 'Delete Post', delete_post_path(@post), method: :delete, data: { confirm: 'Confirm deletion?' } %>
		<% end %>
		<hr />

		<p><%= @post.description %></p>

    <!--*********************
      Add a comment section
    **********************-->
    <div class="post">
      <div class="container">
        <div class="form">
        <%= form_for(:comment, url: create_comment_path) do |f| %>  
          <dl>
          <dt>Comment</dt>
          <dd><%= f.text_area :text, :required => 'required' %> </dd>
          </dl>
          <%= f.submit "Create", class: "btn-submit" %>
        <% end %>
        </div>
      </div>
    </div>
    
  	<!--************************** 
      Display comments if exists
    ***************************-->
    <% if @comments.any? %>
      <h1>Comments:</h1>

      <% @comments.each do |c| %>
        <p><%= c.text %></p>
        <p><%= time_ago_in_words(c.created_at) %> ago</p>

        <!-- Only the poster and original poster can see the username and delete the comments -->
        <% if c.user.id == current_user.id || current_user.id == c.post.user.id %>
          <p>by: <a href="/posts/user/<%= c.user.id %>">Me</a></p>
          <%= link_to "Delete comment", { :controller => "pages", :action => "delete_comment", :id => c.id }, method: :delete, data: { confirm: "Confirm deletion?" } %>
        <% end %>

        <hr />
      <% end %>
    <% end %>

	</div>
</div>