<!-- Show specific post page -->

<H2><%= @post.title %></H2>
<p>By: <a href="/posts/user/<%= @post.user.id %>"><%= @post.user.first_name %> <%= @post.user.last_name %></p></a>
<p><%= @post.category %></p>
<p><%= time_ago_in_words(@post.created_at) %> ago</p>
<p><%= @post.description %></p>