<!-- Show specific post page -->
<div class="show-post">
	<div class="container">
		<H2><%= @post.title %></H2>
		<p>Category: <%= @post.category %></p>
		<p>Created: <%= time_ago_in_words(@post.created_at) %> ago</p>
		<p>By: <a href="/posts/user/<%= @post.user.id %>"><%= @post.user.first_name.capitalize %> <%= @post.user.last_name.capitalize %></p></a>

		<% if @post.user.id == @current_user.id %>
			<%= link_to "Edit Post", edit_post_path(@post) %> &emsp;
			<%= link_to 'Delete Post', delete_post_path(@post), method: :delete, data: { confirm: 'Confirm deletion?' } %>
		<% end %>
		<hr/>
		<p><%= @post.description %></p>
	</div>
</div>
