<!DOCTYPE html>
<html>
  <style>
  </style>
  <head>
    <title>StudentsAd</title>
    <!-- Bootstrap 4.1 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/stylesheets/application.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application.js', 'data-turbolinks-track': 'reload' %>
  </head>


<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if current_user %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="/assets/sa-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      StudentsAd
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- Home -->
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
  
        <!-- Drop Down Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/category/1">Advice</a>
            <a class="dropdown-item" href="/category/2">Books</a>
            <a class="dropdown-item" href="/category/3">Cars</a>
            <a class="dropdown-item" href="/category/4">Clothes</a>
            <a class="dropdown-item" href="/category/5">Help</a>
            <a class="dropdown-item" href="/category/6">Friends</a>
            <a class="dropdown-item" href="/category/7">Mentees/Mentors</a>
            <a class="dropdown-item" href="/category/8">Relationship</a>
            <a class="dropdown-item" href="/category/9">Roommates</a>
            <a class="dropdown-item" href="/category/10">Others</a>
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/categories">All Categories</a>
          </div>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="/create_post">New Post</a>
        </li>

         <li class="nav-item">
          <a class="nav-link" href="/posts/user/<%= current_user.id %>">My Posts</a>
        </li>


         <li class="nav-item">
          <a class="nav-link" href="/profile"><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></a>
        </li>

        <li><a class="nav-link" <%= link_to "Log out", logout_path, method: "delete" %></a></li> 
      </ul>
      
    </div>
  </nav>
<% end %>

  <body>
  </br>
    <%= yield %>
  </body>
</html>

<!-- Alert message fade out and slideup -->
<script type="text/javascript">
  window.setTimeout(function() 
  {
    $(".notice").fadeTo(500, 0).slideUp(500, function()
    {
      $(this).remove();
    });
  }, 5000);
</script>